{% extends 'todo/base.html' %} {% block content %}
<br />
<br />
<br />
<div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
        <h1>Track your tasks with Todo Woo!</h1>
        <p>
            Demo project to keep track of your tasks.<br />
            Create, update, and delete tasks are supported.<br />
            Sign up or log in to get started.
        </p>
        <br />
        <p>
            <em><b>Try Username: Alpha</b></em><br />
            <em><b>Password: Alpha</b></em><br />
            <em>for preset demo.</em>
        </p>
        <br />

        <p>
            <em>Created by @Xinghan</b></em>
        </p>
        
    </div>
</div>
{% endblock content %}
